/*---!-------------CLIENT SECTION STYLES-------------!---*/
#client-section {
    padding: 60px 0;

    .single-client {
        text-align: center;
    }
}

.dark-mode-logo {
    filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(103deg) brightness(105%) contrast(105%);
}
