/*---!-------------HERO SECTION STYLES-------------!---*/
#hero-section {
    position: relative;
    background: url(../img/bg/header-banner-bg-2.png) no-repeat;
    background-position: bottom right;

    .hero-content {
        padding: 180px 0;
    }
    h1 {
        margin-bottom: 20px;
        margin-right: -300px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -75px;
            left: -35px;
            width: 166px;
            height: 166px;
            background-color: $color-5;
            border-radius: 50%;
            z-index: -1;
        }
    }

    p {
        margin-bottom: 65px;
    }

    label {
        color: $color-3;
        display: block;
        margin-bottom: 10px;
        font-family: $font-2;
        font-style: italic;
    }
}

input#search,
input#search-asset {
    border: 0;
    border-radius: 100px;
    box-shadow: 0 0 50px #dbdbdb70;
    height: 70px;
    width: 100%;
    padding: 0 80px 0 25px;
}

form {
    position: relative;
}

button.to-search {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    padding: 0 25px;
    bottom: 0;
    border-radius: 0px 50px 50px 50px;
    background-color: $color-2;
    color: $white;

    i {
        font-size: 25px;
    }
}

.gold-bg {
    background-color: #f3c62382;
    padding: 0 30px;
}

@include xl {
    #hero-section {
        h1 {
            font-size: 60px;
            line-height: 70px;
            margin-right: -100px;
        }

        label,
        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
}

@include lg {
    #hero-section {
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            background: linear-gradient(90deg, $banner-bg, transparent);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        h1 {
            font-size: 45px;
            line-height: 55px;
            margin-right: -100px;
        }
    }

    .gold-bg {
        padding: 0 20px;
    }
}

@include md {
    #hero-section {
        h1 {
            font-size: 35px;
            line-height: 45px;
            margin-right: 0px;
        }

        span,
        label,
        p {
            font-size: 14px;
            line-height: 24px;
        }

        .gold-bg {
            font-size: 35px;
            line-height: 45px;
            padding: 0 10px;
        }

        .hero-content {
            padding: 120px 0;
        }
    }
    .hero-img img {
        top: -110px;
        // width: 70%;
    }
}

@include sm {
    #hero-section {
        &::before {
            background: $banner-bg;
        }

        p {
            margin-bottom: 40px;
        }

        .hero-content {
            padding: 60px 0;
        }
    }

    input#search {
        height: 55px;
        line-height: 55px;
    }

    button.to-search {
        padding: 0 18px;
        i {
            font-size: 22px;
        }
    }
}

@include xs {
    #hero-section {
        h1 {
            font-size: 30px;
            line-height: 40px;
        }
    }
    input#search {
        height: 45px;
        line-height: 45px;
    }

    button.to-search {
        padding: 0 15px;
        i {
            font-size: 20px;
        }
    }
}
