/*---!-------------PROCESS SECTION STYLES-------------!---*/
#process-section {
    padding: 60px 0;
    overflow: hidden;

    .section-heading {
        text-align: center;
        margin-bottom: 80px;
    }

    .single-process {
        text-align: center;
        padding: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 72%;
            left: 67%;
            top: 65px;
            border-top: 4px dotted $color-6;
        }

        &::after {
            content: "\f105";
            font: var(--fa-font-solid);
            position: absolute;
            right: -41%;
            top: 57px;
            color: $color-6;
        }

        i {
            background-color: $color-2;
            color: $white;
            padding: 30px 0;
            width: 90px;
            font-size: 30px;
            border-radius: 50%;
            margin-bottom: 35px;
        }

        &:has(.fa-phone-volume) {
            i {
                background-color: $color-3;
            }
        }

        h3 {
            color: $black;
            text-transform: capitalize;
            margin-bottom: 15px;
        }
    }

    .last-process {
        &::after,
        &::before {
            opacity: 0;
        }
    }
}

@include xl {
    #process-section {
        .single-process {
            h3 {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
@include md {
    #process-section {
        .section-heading {
            h2 {
                font-size: 35px;
                line-height: 45px;
            }
        }

        .single-process {
            background: #d7d7d730;

            &::before,
            &::after {
                display: none;
            }

            p {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

@include sm {
    #process-section {
        .section-heading {
            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}

@include sm {
    #process-section {
        .section-heading {
            margin-bottom: 55px;
        }
    }
}

@include xxs {
    #process-section {
        .section-heading {
            h2 {
                font-size: 25px;
                line-height: 35px;
            }
        }
    }
    .col-xxs-12 {
        width: 100%;
    }
}
