#testimonial-section {
    padding: 120px 0 60px;

    .reviewer-table {
        position: relative;
        text-align: center;
        width: fit-content;
        margin: auto;
        display: table;

        &::before {
            content: "";
            position: absolute;
            background-color: $color-2;
            opacity: 65%;
            top: 0;
            left: 50%;
            height: 100%;
            width: 100%;
            border-radius: 100px 100px 200px 100px;
            transform: translateX(-50%);
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            color: white;
            font-size: 70px;
            transform: translate(-50%, -50%);
        }

        .reviewers {
            .current-reviewer img {
                transform: scale(1.5);
                transition: all 0.4s ease;
                // left: 270px;
            }
            .img-1 {
                position: absolute;
                top: -40px;
                left: 240px;
                // width: 185px;
            }
            .img-2 {
                position: absolute;
                top: auto;
                left: 185px;
                bottom: -30px;
            }
            .img-3 {
                position: absolute;
                top: auto;
                left: -60px;
                bottom: 35px;
            }
            .img-4 {
                position: absolute;
                top: -20px;
                left: -10px;
            }
        }
    }

    .reviewer-info {
        font-family: $font-2;
        font-weight: 700;
        margin-bottom: 40px;
        .name {
            display: block;
            color: $color-2;
            font-size: 18px;
            line-height: 28px;
            text-transform: capitalize;
        }
        .job {
            font-size: 15px;
            line-height: 25px;
            display: block;
            text-decoration: underline;
            text-transform: capitalize;
            color: $main-color;
        }
    }
    .reviewer-quote {
        font-family: $font-2;
        font-weight: 900;
        font-size: 40px;
        line-height: 50px;
        color: $main-color;
    }

    .testimonial-slider-control {
        margin-top: 40px;
        button {
            width: 60px;
            height: 60px;
            color: $main-color;
            border: 0;
            line-height: 60px;
            background-color: $color-4;
            margin-right: 30px;

            &:hover {
                background-color: $color-3;
            }

            &:last-of-type {
                margin-right: 0;
            }

            i {
                font-size: 25px;
            }
        }
    }
}

@include xl {
    #testimonial-section {
        .reviewer-quote {
            font-size: 35px;
            line-height: 45px;
        }
    }
}

@include lg {
    #testimonial-section {
        .reviewer-quote {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

@include md {
    #testimonial-section {
        .testimonials {
            margin-top: 60px;
            text-align: center;
        }
        .reviewer-info {
            margin-bottom: 25px;
        }
    }
}

@include sm {
    #testimonial-section {
        .reviewer-quote {
            font-size: 25px;
            line-height: 35px;
        }

        .testimonial-slider-control button {
            width: 55px;
            height: 55px;
            line-height: 55px;
        }
    }
}

@include xxs {
    #testimonial-section {
        .testimonial-slider-control button {
            width: 50px;
            height: 50px;
            line-height: 50px;
            i {
                font-size: 20px;
            }
        }

        .reviewer-table {
            &::before {
                border-radius: 80px 80px 160px 80px;
                width: 100%;
            }

            i {
                font-size: 60px;
            }

            img {
                max-width: 100%;
            }

            .reviewers {
                .current-reviewer img {
                    transform: scale(1.3);
                }
                .img-1 {
                    left: 190px;
                }
                .img-3 {
                    left: -10px;
                    bottom: 0;
                }
            }
        }
        .reviewer-quote {
            font-size: 20px;
            line-height: 30px;
        }
    }
}
