// colors
$main-color: #10375c;
$color-2: #127681;
$color-3: #f3c623;
$color-4: #f4f6ff;
$color-5: #ffede9;
$color-6: #00000099;
$white: #fff;
$black: #000;

// fonts
$main-font: "Lato", sans-serif;
$font-2: "Mulish", sans-serif;
